In [1]:
%matplotlib inline
import pandas as pd

Matplotlib is building the font cache; this may take a moment.

In [ ]:
titles = pd.read_csv('titles.csv')
titlesfrom Ipython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style{}</style>'.titles = pd.read_csv('titles.csv')
titlesformat(css))

In [11]:
titles = pd.read_csv('titles.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# 1. How many movies are listed in the titles dataframe

In [13]:
num_movies = titles.shape[0]
print('Total number of movies listed: {num_movies}')

Total number of movies listed: 244914

# 2.What are the earliest two films listed in the titles dataframes

In [16]:
earliest_films = titles.sort_values(by='year').head(2)
print(earliest_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3.How many movies have the title "Hamlet"

In [18]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
num_hamlet_movies = hamlet_movies.shape[0]
print(f'Total number of movies with the title "Hamlet": {num_hamlet_movies}')

Total number of movies with the title "Hamlet": 20

# 4.How many movies are titled "North by Northwest"

In [20]:
north_by_northwest_movies = titles[titles['title'] == 'North by Northwest']
num_north_by_northwest_movies = north_by_northwest_movies.shape[0]
print(f'Total number of movies titled "North by Northwest": {num_north_by_northwest_movies}')

Total number of movies titled "North by Northwest": 1

# 5.When was the first movie titled "Halmet" made

In [21]:
hamlet_movies = titles[titles['title'] == 'Hamlet']
if not hamlet_movies.empty:
    first_hamlet_movie = hamlet_movies.sort_values(by='year').iloc[0]
    print(f"The first movie titled 'Hamlet' was made in {first_hamlet_movie['year']}")
else:
    print("No movie titled 'Hamlet' found in the DataFrame.")

The first movie titled 'Hamlet' was made in 1910

# 6. List all of the "Treasure Island " movies from earliest to most recent

In [22]:
treasure_island_movies = titles[titles['title'] == 'Treasure Island']
if not treasure_island_movies.empty:
    treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
    print(treasure_island_movies_sorted)
else:
    print("No movies titled 'Treasure Island' found in the DataFrame.")

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7.How many movied were made in the year 1950

In [23]:
movies_1950 = titles[titles['year'] == 1950]
num_movies_1950 = movies_1950.shape[0]
print(f'Total number of movies made in the year 1950: {num_movies_1950}')

Total number of movies made in the year 1950: 1113

# 8.In what years has movie titled "Batman" been released

In [24]:
batman_movies = titles[titles['title'] == 'Batman']
if not batman_movies.empty:
    batman_years = batman_movies['year'].unique()
    print(f"Years in which movies titled 'Batman' were released: {', '.join(map(str, batman_years))}")
else:
    print("No movies titled 'Batman' found in the DataFrame.")

Years in which movies titled 'Batman' were released: 1943, 1989

# 10.How many roles in the movie "inception" are Not ranked by an "n" value

In [41]:
inception_movie = titles[titles['title'] == 'Inception']
if not inception_movie.empty:
    roles_without_rank = inception_movie['n'].isna().sum()
    print(f"Number of roles in the movie 'Inception' without an 'n' value: {roles_without_rank}")
else:
    print("No movie titled 'Inception' found in the DataFrame.")

KeyError: 'n'

# 11. Display the cast of "North by Northwest" in their correct "n" values oredr,ignoring roles that did not earn a numeric "n" value

In [43]:

north_by_northwest_movie = titles[(titles['title'] == 'North by Northwest') & titles['n'].notna()]


cast_sorted_by_n_value = north_by_northwest_movie.sort_values(by='n')


print(cast_sorted_by_n_value[['name', 'n']])

KeyError: 'n'

# 12.Display the entire cast in "n" order of the 1972 film "Sleuth"

In [45]:

sleuth_1972 = titles[(titles['title'] == 'Sleuth') & (titles['year'] == 1972)]

if not sleuth_1972.empty:
   
    cast_sorted_by_n_value = sleuth_1972.sort_values(by='n')

    
    print(cast_sorted_by_n_value[['name', 'n']])
else:
    print("No 1972 movie titled 'Sleuth' found in the DataFrame.")

KeyError: 'n'

# 11. How many roles were in the movie "Inception"

In [6]:
import pandas as pd
titles = pd.read_csv('titles.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

In [ ]:
import pandas as pd
cast = pd.read_csv('cast.csv')
cast.head()

KeyError: 'n'

In [1]:
import pandas as pd
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [3]:
import pandas as pd
titles = pd.read_csv('titles.csv')
titles




inception_movie = titles[(titles['title'] == 'Inception') & titles['n'].notna()]
num_roles_in_inception = inception_movie.shape[0]
print(f"Total number of roles in the movie 'Inception': {num_roles_in_inception}")

KeyError: 'n'