In [3]:
%matplotlib inline
import pandas as pd



cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
titles = pd.read_csv('titles.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# 11. How many roles were there in the movie "Inception"

In [7]:
inception_cast = cast[cast['title'] == 'Inception']
num_roles_in_inception = inception_cast.shape[0]
print(f"Total number of roles in the movie 'Inception': {num_roles_in_inception}")

Total number of roles in the movie 'Inception': 78

# 12.How many roles in the movie "Inception" are NOT rankesd by an "n" value

In [8]:
inception_cast = cast[(cast['title'] == 'Inception') & cast['n'].isna()]
num_roles_without_rank_in_inception = inception_cast.shape[0]
print(f"Number of roles in the movie 'Inception' without an 'n' value: {num_roles_without_rank_in_inception}")

Number of roles in the movie 'Inception' without an 'n' value: 27

# 13.But how many roles in  the movie "inception"  did receive an "n" value

In [9]:
inception_cast_with_rank = cast[(cast['title'] == 'Inception') & cast['n'].notna()]
num_roles_with_rank_in_inception = inception_cast_with_rank.shape[0]
print(f"Number of roles in the movie 'Inception' with an 'n' value: {num_roles_with_rank_in_inception}")

Number of roles in the movie 'Inception' with an 'n' value: 51

# 14.Display the cast of "North by Northwest" in their correct "n" value order , ignoring roles that did not earn numeric "n" value

In [10]:

north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]


cast_sorted_by_n_value = north_by_northwest_cast.sort_values(by='n')


print(cast_sorted_by_n_value[['name', 'n']])

                         name     n
871426             Cary Grant   1.0
3518333       Eva Marie Saint   2.0
1457165           James Mason   3.0
3157232   Jessie Royce Landis   4.0
356707         Leo G. Carroll   5.0
3048272  Josephine Hutchinson   6.0
1695173           Philip Ober   7.0
1275337         Martin Landau   8.0
2447081         Adam Williams   9.0
1811387          Edward Platt  10.0
665768      Robert Ellenstein  11.0
2295714          Les Tremayne  12.0
464736        Philip Coolidge  13.0
1508344         Patrick McVey  14.0
206471           Edward Binns  15.0
1384780             Ken Lynch  16.0

# 15.Display the entire cast , in "n" order, of the 1972 film "Sleuth"

In [11]:

sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & cast['n'].notna()]


cast_sorted_by_n_value = sleuth_1972_cast.sort_values(by='n')


print(cast_sorted_by_n_value[['name', 'n']])

                       name    n
1705394    Laurence Olivier  1.0
326773        Michael Caine  2.0
373876       Alec Cawthorne  3.0
1465483  John (II) Matthews  4.0
2724553  Eve (III) Channing  5.0
1448690        Teddy Martin  6.0

# 16.now display the entire cast, in "n" order of the 2007 version of "sleuth"

In [12]:

sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & cast['n'].notna()]


cast_sorted_by_n_value = sleuth_2007_cast.sort_values(by='n')


print(cast_sorted_by_n_value[['name', 'n']])

                  name    n
326774   Michael Caine  1.0
1293634       Jude Law  2.0
1805907  Harold Pinter  3.0

# 17. How many roles were credited in the silent 1921 vesrion of Hamlet

In [13]:

hamlet_1921_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]


num_credited_roles = hamlet_1921_cast.shape[0]

print(f"Number of credited roles in the silent 1921 version of 'Hamlet': {num_credited_roles}")

Number of credited roles in the silent 1921 version of 'Hamlet': 9

# 18.How may roles were credited in Branagh's 1996 Hamlet

In [14]:

hamlet_1996_cast = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]


num_credited_roles = hamlet_1996_cast.shape[0]

print(f"Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet': {num_credited_roles}")

Number of credited roles in Kenneth Branagh's 1996 version of 'Hamlet': 54

# 19.How many "Halmet"" roles have been listed in all film credits through history

In [15]:

hamlet_roles = cast[cast['title'] == 'Hamlet']

num_hamlet_roles = hamlet_roles.shape[0]

print(f"Number of 'Hamlet' roles listed in all film credits through history: {num_hamlet_roles}")

Number of 'Hamlet' roles listed in all film credits through history: 342

# 20.how many people have played an "Ophelia"

In [16]:

ophelia_roles = cast[cast['character'] == 'Ophelia']

num_ophelia_actors = ophelia_roles['name'].nunique()

print(f"Number of people who have played the role of 'Ophelia': {num_ophelia_actors}")

Number of people who have played the role of 'Ophelia': 115

# 21. how many people have played a role called "The dude"

In [17]:

the_dude_roles = cast[cast['character'] == 'The Dude']


num_the_dude_actors = the_dude_roles['name'].nunique()

print(f"Number of people who have played a role called 'The Dude': {num_the_dude_actors}")

Number of people who have played a role called 'The Dude': 19

# 22.How many people have played a role called "stranger"

In [18]:

stranger_roles = cast[cast['character'] == 'stranger']


num_stranger_actors = stranger_roles['name'].nunique()

print(f"Number of people who have played a role called 'stranger': {num_stranger_actors}")

Number of people who have played a role called 'stranger': 0

# 23.How many roles has Sidney Poitier played throughout his carrer

In [19]:

sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']


num_sidney_poitier_roles = sidney_poitier_roles.shape[0]

print(f"Number of roles played by Sidney Poitier throughout his career: {num_sidney_poitier_roles}")

Number of roles played by Sidney Poitier throughout his career: 43

# 24.How many roles has Judi Dench played

In [20]:

judi_dench_roles = cast[cast['name'] == 'Judi Dench']


num_judi_dench_roles = judi_dench_roles.shape[0]

print(f"Number of roles played by Judi Dench: {num_judi_dench_roles}")

Number of roles played by Judi Dench: 55

# 25. List the supporting roles (having n=2) played by Cary Grant in the 1940s ,in order by year

In [21]:

cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]


supporting_roles_sorted_by_year = cary_grant_supporting_roles_1940s.sort_values(by='year')

print(supporting_roles_sorted_by_year[['title', 'year']])

                   title  year
871423  My Favorite Wife  1940
871433    Penny Serenade  1941

# 26. List the leading  roles that by Cary Grant played  in the 1940s ,in order by year

In [22]:

cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]


leading_roles_sorted_by_year = cary_grant_leading_roles_1940s.sort_values(by='year')


print(leading_roles_sorted_by_year[['title', 'year']])

                                       title  year
871448               The Howards of Virginia  1940
871407                       His Girl Friday  1940
871450                The Philadelphia Story  1940
871438                             Suspicion  1941
871452                  The Talk of the Town  1942
871429                 Once Upon a Honeymoon  1942
871398                     Destination Tokyo  1943
871422                             Mr. Lucky  1943
871430                      Once Upon a Time  1944
871390                  Arsenic and Old Lace  1944
871425             None But the Lonely Heart  1944
871424                         Night and Day  1946
871427                             Notorious  1946
871444      The Bachelor and the Bobby-Soxer  1947
871445                     The Bishop's Wife  1947
871421  Mr. Blandings Builds His Dream House  1948
871402          Every Girl Should Be Married  1948
871411                I Was a Male War Bride  1949

# 27.How many roles were available for actors in the 1950s

In [23]:

roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]


num_roles_in_1950s = roles_in_1950s.shape[0]

print(f"Number of roles available for actors in the 1950s: {num_roles_in_1950s}")

Number of roles available for actors in the 1950s: 215471

# 28.How many leading roles (n=1) were available from the beginnig of film history through 1980

In [24]:

leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]


num_leading_roles_until_1980 = leading_roles_until_1980.shape[0]

print(f"Number of leading roles (n=1) available from the beginning of film history through 1980: {num_leading_roles_until_1980}")

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

# 29.How many non leading roles were available from the beginnig of film history through 1980

In [25]:

non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]


num_non_leading_roles_until_1980 = non_leading_roles_until_1980.shape[0]

print(f"Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: {num_non_leading_roles_until_1980}")

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

# 30.How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank

In [26]:

roles_without_n_rank_until_1980 = cast[(cast['n'].isna()) & (cast['year'] <= 1980)]


num_roles_without_n_rank_until_1980 = roles_without_n_rank_until_1980.shape[0]

print(f"Number of roles through 1980 without a numeric 'n' rank: {num_roles_without_n_rank_until_1980}")

Number of roles through 1980 without a numeric 'n' rank: 448347