In [11]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='mla'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018A0BC2F090>

In [ ]:
curs = conn.cursor()

In [2]:
curs

NameError: name 'curs' is not defined

NameError: name 'curs' is not defined

In [3]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='mla'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018A0B5F7750>

In [4]:
curs = conn.cursor()

In [9]:
curs

In [10]:
# 4.You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1. Design the database schema for the employee management system.

2. Write Python code to connect to the database and retrieve a list of employees in a

specific department.

3. Implement a feature to update an employee's salary

SyntaxError: unterminated string literal (detected at line 9) (44068381.py, line 9)

In [12]:
employees_table = '''

create table employees(
    employee_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    salary REAL NOT NULL,
    department TEXT NOT NULL,
    hire_date DATE NOT NULL)
'''
curs.execute(employees_table)

ProgrammingError: 2055: Cursor is not connected

In [ ]:
employees_table = '''

create table employees(
    employee_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    salary REAL NOT NULL,
    department TEXT NOT NULL,
    hire_date DATE NOT NULL)
'''
curs.execute(employees_table)

In [1]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='employment'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002537FC36490>

In [3]:
curs=conn.cursor()

In [4]:
curs

# 4.You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1. Design the database schema for the employee management system.

2. Write Python code to connect to the database and retrieve a list of employees in a

specific department.

3. Implement a feature to update an employee's salary.

In [21]:
neelam_table = '''

create table neelam(
    employee_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    salary REAL NOT NULL,
    department TEXT NOT NULL)
'''


curs.execute(neelam_table)

ProgrammingError: 1050 (42S01): Table 'neelam' already exists

In [43]:
cus_insert = "insert into neelam(employee_id,name,salary,department) values (%s,%s,%s,%s)"

cus_val = [ (123,'govind',100000,'python'),
           ( 246,'hello',32000,'cse')
          ]

           
curs.executemany(cus_insert, cus_val)

conn.commit()

print(curs.rowcount,'is inserted now')

2 is inserted now

In [4]:
cus_insert = "insert into neelam(employee_id,name,salary,department) values (%s,%s,%s,%s)"

cus_val = [ (123,'govind',100000,'python'),
           ( 246,'hello',32000,'cse'),
           (589,'hm',25000,'ece')
          ]

           
curs.executemany(cus_insert, cus_val)

conn.commit()

print(curs.rowcount,'is inserted now')

NameError: name 'curs' is not defined

In [1]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='employment'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001898B0B9590>

In [4]:
curs=conn.cursor()

curs

# 1. Implement Inventory Management in Python with MySQL.

a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and

inventory
CREATE DATABASE Inventory;

In [ ]:
inventory_table = '''
      
Create table inventory(id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255) NOT NULL,
purchase_date DATE NOT NULL,quantity INT NOT NULL )     

'''
    
curs.execute(inventory_table)

In [2]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='employment'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ECB6EC5B50>

In [4]:
inventory_table= '''

create table inventory(
      product_id integer primary key,
      name text not null,
      quantity int not null )

'''

curs.execute(inventory_table)

NameError: name 'curs' is not defined

In [25]:
telugu_table= '''

create table telugu(
      product_id integer primary key,
      name text not null,
      quantity int not null )

'''

curs.execute(telugu_table)

In [5]:
curs= conn.cursor()

In [6]:
curs

In [27]:
curs.execute(telugu_table)

NameError: name 'telugu_table' is not defined

In [28]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='invent'
                             )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ECB7AF2ED0>

In [29]:
curs= conn.cursor()

In [30]:
curs

In [31]:
chrome_table= '''

create table chrome(
      product_id integer primary key,
      name text not null,
      quantity int not null )

'''

curs.execute(chrome_table)

In [34]:
sales_table= '''

create table sales(
       sale_id integer primary key,
       name varchar(40) not null,
       quantity int not null )
       
'''    

curs.execute(sales_table)

In [35]:
purchase_table = '''

create table purchase(
        purchase_id integer primary key,
        name varchar(50) not null,
        quantity int not null )
        
'''

curs.execute(purchase_table)

# 2.scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.



1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department

In [1]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='customer'
                              )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001685CB85110>

In [2]:
curs = conn.cursor()

In [3]:
curs

# 1. Module Import and Management Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.



Design a Python program that demonstrates the following:

1. Import multiple modules within your project.

2. Use the import statement to access functions, classes, and variables from imported

modules.

3. Create your custom module and use it in your main program. 4. Handle naming conflicts and ensure proper namespacing.

5. Implement error handling for missing modules or incorrect module usage.

In [4]:
def hello():
    print('module 1')

def hai():
    print('module 2')
    
def custom():
    print('custom hai')
    
    

import module1
import module2
import custom as cm



try:

    
     module1.hello()
     module2.hai()
     cm.custom()
     

    

    
except ImportError as e:
    print(f"Import error: {e}")
except AttributeError as e:
    print(f"Attribute error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

module 1
module 2
custom hai

# 2.Virtual Environment Management

Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

Create a Python program that demonstrates the following:

1. Create a virtual environment for a specific project.

2. Activate and deactivate virtual environments. 3. Install, upgrade, and uninstall packages within a virtual environment.

4. List the installed packages in a virtual environment.

5. Implement error handling for virtual environment operations

In [ ]:
import subprocess
import sys
import os

def create__virtual_env(env_name):
    try:
        subprocess.run([sys.executable, '-m', 'venv', env_name])
        print(f"Virtual environment '{env_name}' created successfully.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to create the virtual environment. {e}")

def activate__virtual_env(env_name):
    try:
        activate_script = os.path.join(env_name, 'Scripts' if os.name == 'nt' else 'bin', 'activate')
        subprocess.run([activate_script], shell=True)
        print(f"Activated virtual environment '{env_name}'.")
    except FileNotFoundError:
        print(f"Error: Virtual environment '{env_name}' not found.")

def deactivate__virtual_env():
    try:
        subprocess.run(['deactivate'], shell=True)
        print("Deactivated the virtual environment.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to deactivate the virtual environment. {e}")

def install_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', package_name])
        print(f"Installed '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to install the package. {e}")

def upgrade_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'install', '--upgrade', package_name])
        print(f"Upgraded '{package_name}' in '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to upgrade the package. {e}")

def uninstall_package(env_name, package_name):
    try:
        subprocess.run([f'{env_name}/bin/pip', 'uninstall', '-y', package_name])
        print(f"Uninstalled '{package_name}' from '{env_name}'.")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to uninstall the package. {e}")

def list_installed_packages(env_name):
    try:
        result = subprocess.run([f'{env_name}/bin/pip', 'list'], capture_output=True, text=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError as e:
        print(f"Error: Failed to list installed packages. {e}")


env_name = "_virtual_env"
package_name = "numpy"

create__virtual_env(env_name)
activate__virtual_env(env_name)
install_package(env_name, package_name)
list_installed_packages(env_name)
upgrade_package(env_name, package_name)
list_installed_packages(env_name)
uninstall_package(env_name, package_name)
list_installed_packages(env_name)
deactivate_virtual_env()

# 3. Module Dependency Resolution



Scenario: You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:

1 Use a requirements txt file to specify project dependencies. 2. Automatically install all project dependencies from the requirements.txt file.

3. Ensure that the versions of installed packages are compatible.

4. Implement error handling for dependency resolution and installation.

In [ ]:

import subprocess


def install_dependencies():
    try:
        
        subprocess.call(["pip", "install", "-r", "requirements.txt"])
        print("Dependencies installed successfully.")
    except Exception as e:
        print(f"Error installing dependencies: {e}")


install_dependencies()


# requirements.txt
requests==2.26.0
flask==2.0.1

# Database   2.
.Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department

In [3]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='customer'
                              )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000267F86EB610>

In [4]:


def place_order(customer_id, product_id, quantity):
    try:
        
        cursor.execute("SELECT quantity_available, price FROM Products WHERE product_id = %s", (product_id,))
        product_info = cursor.fetchone()
        if not product_info or product_info[0] < quantity:
            print("Product not available or insufficient quantity.")
            return

        
        subtotal = quantity * product_info[1]

        cursor.execute("INSERT INTO Order_Details (order_id, product_id, quantity_ordered, subtotal) VALUES (%s, %s, %s, %s)",
                       (order_id, product_id, quantity, subtotal))

    
        new_quantity = product_info[0] - quantity
        cursor.execute("UPDATE Products SET quantity_available = %s WHERE product_id = %s", (new_quantity, product_id))

        
        cursor.execute("UPDATE Orders SET total_cost = total_cost + %s WHERE order_id = %s", (subtotal, order_id))

        db_connection.commit()
        print("Order placed successfully!")

    except Exception as e:
        print("Error:", e)
        db_connection.rollback()

place_order(customer_id=1, product_id=1, quantity=2)


cursor.close()
db_connection.close()

Error: name 'cursor' is not defined

NameError: name 'db_connection' is not defined

In [1]:
def generate_order_report(order_id):
    try:
        cursor.execute("SELECT o.order_id, c.name, p.name, od.quantity_ordered, p.price, od.subtotal "
                       "FROM Orders o "
                       "JOIN Customers c ON o.customer_id = c.customer_id "
                       "JOIN Order_Details od ON o.order_id = od.order_id "
                       "JOIN Products p ON od.product_id = p.product_id "
                       "WHERE o.order_id = %s", (order_id,))
        
        report_data = cursor.fetchall()
        
        if report_data:
            total_cost = sum(item[5] for item in report_data)
            print(f"Order ID: {order_id}")
            print(f"Customer: {report_data[0][1]}")
            print("Order Details:")
            for item in report_data:
                print(f"  - Product: {item[2]}, Quantity: {item[3]}, Subtotal: {item[5]}")
            print(f"Total Cost: {total_cost}")
        else:
            print("Order not found.")

    except Exception as e:
        print("Error:", e)

generate_order_report(order_id=1)

Error: name 'cursor' is not defined

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

Instructions:

1. Assume that you have a MySQL database server running with the following details

Host: localhost

Port: 3306

ii. Username your username 

iv. Password; your password

v. Database Name: your database vi. Table Name: your table

vil. The table has the following columns: id (int), name (varchar),

quantity (int).

Your Python program should Connect to the MySQL database.

Retrieve all records from the your table table. Calculate the total quantity of all records retrieved.

iv. Update the quantity column of each record by doubling its value.

Commit the changes to the database vi. Close the database connection.

3. Handle any potential errors that may occur during the database connection and

data manipulation, such as connection failures or SQL errors. 4. Provide comments in your code to explain each step.

In [2]:
import mysql.connector

conn= mysql.connector.connect(user='root',
                             password='Mysql@123',
                             host='127.0.0.1',
                             database='hello'
                              )
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000233DDDC3D10>

In [3]:
curs = conn.cursor()

In [4]:
curs

In [24]:
import mysql.connector

try:

    db_config = {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "Mysql@123",
        "database": "hello"
    }

    
    connection = mysql.connector.connect(**db_config)

    
    cursor = connection.cursor()

    
    cursor.execute("SELECT id, name, quantity FROM wow_table")
    records = cursor.fetchall()

    
    total_quantity = sum(record[2] for record in records)
    
  create table wow(''''
       sale_id integer primary key,
       name varchar(40) not null,
       quantity int not null )
       
'''
       

    
    updated_records = [(record[0], record[2] * 2) for record in records]
    update_query = "UPDATE wow_table SET quantity = %s WHERE id = %s"
    cursor.executemany(update_query, updated_records)

    
    connection.commit()

    
    cursor.close()
    connection.close()

    print("Total quantity before doubling:", total_quantity)
    print("Database updated successfully.")

except mysql.connector.Error as e:
    print(f"Error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 26)