# 1.Manipulate using alist.
i)To add new elements to the end of thelist
ii)To reverse elements in thelist.
iii)To display the same list of elements multipletimes. iv)To concatenate twolist v)To sort the elements in the list in ascendingorder.

In [1]:
lst = [246,143,246143, 'hello']
lst

[246, 143, 246143, 'hello']

In [2]:
# i)To add new elements to the end of thelist
lst.append (1234678)
lst

[246, 143, 246143, 'hello', 1234678]

In [3]:
# ii)To reverse elements in thelist.
lst.revrese()

AttributeError: 'list' object has no attribute 'revrese'

In [4]:
lst

[246, 143, 246143, 'hello', 1234678]

In [5]:
lst.reverse()

In [6]:
lst

[1234678, 'hello', 246143, 143, 246]

In [7]:
lst * 2

[1234678, 'hello', 246143, 143, 246, 1234678, 'hello', 246143, 143, 246]

In [10]:
lst * 2
lst

[1234678, 'hello', 246143, 143, 246]

In [11]:
lst1 =[123, 'mphasis', 246129 ]
lst2 = [234, 25.52, 'jupyter']

In [12]:
lst1

[123, 'mphasis', 246129]

In [13]:
lst2

[234, 25.52, 'jupyter']

In [14]:
lst1 + lst2

[123, 'mphasis', 246129, 234, 25.52, 'jupyter']

In [15]:
lst2.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [16]:
lst

[1234678, 'hello', 246143, 143, 246]

In [17]:
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [18]:
lst3 = [9,2,5,41,52]

In [19]:
lst3

[9, 2, 5, 41, 52]

In [20]:
lst3.sort()

In [21]:
lst3

[2, 5, 9, 41, 52]

In [22]:
lst4 =['mphasis', 'jupyter', 'abc']

In [23]:
lst4

['mphasis', 'jupyter', 'abc']

In [24]:
lst4.sort()

In [25]:
lst4

['abc', 'jupyter', 'mphasis']

# 2.Write a Python program to do in the tuples.
i) Manipulate using tuples.
ii)To add new elements to the end of thetuples
iii)To reverse elements in thelist
iv)To display the elements of the same tuple multipletimes. v)To concatenate twotuples vi)To sort the elements in the list in ascendingorder.

In [27]:
tup = (246143, 53.3912, 'mphasis')

In [28]:
tup

(246143, 53.3912, 'mphasis')

In [29]:
# ii)To add new elements to the end of thetuples

tup.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
tup[0]

246143

In [31]:
tup[0]=1123

TypeError: 'tuple' object does not support item assignment

In [32]:
tup[20]=20

TypeError: 'tuple' object does not support item assignment

In [33]:
len(tup)

3

In [34]:
# iii)To reverse elements in thelist
tup.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [35]:

# iv)To display the elements of the same tuple multipletimes


tup * 2

(246143, 53.3912, 'mphasis', 246143, 53.3912, 'mphasis')

In [36]:
tup1 = (253)
tup2 = (556)

In [37]:
tup1

253

In [38]:
tup2

556

In [39]:
# v)To concatenate twotuples 

tup1 + tup2

809

In [40]:
tup3=('sri', 246, 'danger')

In [41]:
tup3

('sri', 246, 'danger')

In [42]:
tup4 = ('pavan', 225, 'global')

In [44]:
tup3 + tup4

('sri', 246, 'danger', 'pavan', 225, 'global')

In [45]:
tup3.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [46]:
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [47]:
tup5=('b', 'c', 'l', 'd')

In [48]:
tup5

('b', 'c', 'l', 'd')

In [49]:
tup5.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [50]:
tup5

('b', 'c', 'l', 'd')

# 3.Write a python program to implement the following usinglist.

i)Create a list with integers (minimum 10numbers)
ii)How to display the last number in thelist
iii)Command for displaying the values from the list[0:4] iv)Command for displaying the values from the list[2:] v)Command for displaying the values from the list [:6].

In [53]:
# i)Create a list with integers (minimum 10numbers)
b=[2446,246,14,143,6,4,7,,2]

[2446, 246, 14, 3, 143, 6, 4, 7, 9, 2]

In [54]:
b

[2446, 246, 14, 3, 143, 6, 4, 7, 9, 2]

In [55]:
b(-1)

TypeError: 'list' object is not callable

In [56]:
b([-1])

TypeError: 'list' object is not callable

In [57]:
b(0)

TypeError: 'list' object is not callable

In [58]:
b[0]

2446

In [59]:
b[::1]

[2446, 246, 14, 3, 143, 6, 4, 7, 9, 2]

In [60]:
b[:-1]

[2446, 246, 14, 3, 143, 6, 4, 7, 9]

In [61]:
 # ii)How to display the last number in thelist
b[-1]

2

In [62]:
b[0:4]

[2446, 246, 14, 3]

In [63]:
subset = b[0:4]

In [64]:
b

[2446, 246, 14, 3, 143, 6, 4, 7, 9, 2]

In [65]:
subset = b[2:]

In [66]:
b

[2446, 246, 14, 3, 143, 6, 4, 7, 9, 2]

In [67]:
b[2:]

[14, 3, 143, 6, 4, 7, 9, 2]

In [69]:
# iii)Command for displaying the values from the list[0:4] 
subset = b[0:4]
print("values from index 0 to 4:", subset)

values from index 0 to 4: [2446, 246, 14, 3]

In [70]:

subest = b[2:]
print("values form index 2 to end", subset)

values form index 2 to end [2446, 246, 14, 3]

In [72]:
 #iv)Command for displaying the values from the list[2:]
values = b[2:]
print(values)

[14, 3, 143, 6, 4, 7, 9, 2]

In [ ]:
# v)Command for displaying the values from the list [:6].

 values = b[:6]
print(values)

In [74]:
print (b[:6])

[2446, 246, 14, 3, 143, 6]

#  4.Write a Python program: tuple1 =(10,50,20,40,30)
    i.To display the elements 10 and 50 fromtuple1
    ii.To display the length of atuple1.
    iii.To find the minimum element fromtuple1.
    iv.To add all elements in thetuple1.
    v.To display the same tuple1 multipletime

In [75]:
tup1 = (10,50,20,40,30)

In [76]:
tup1

(10, 50, 20, 40, 30)

In [77]:
 # i.To display the elements 10 and 50 fromtuple1
    
    
tup1[0,1]

TypeError: tuple indices must be integers or slices, not tuple

In [79]:
tup1[0], tup1[1]

(10, 50)

In [80]:
 # ii.To display the length of atuple1.
    
len(tup1)

5

In [81]:
# iii.To find the minimum element fromtuple1.

min(tup1)

10

In [82]:
# iv.To add all elements in thetuple1.

sum(tup1)

150

In [84]:
# v.To display the same tuple1 multipletime

tup1 * 5

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5. Write a Pythonprogram:
    i.To calculate the length of astring
    ii.To reverse words in astring
    iii.To display the same string multipletimes
    iv.To concatenate twostrings
    v.Str1=” South India”, using string slicing to display“India”

In [85]:
# i.To calculate the length of astring

str="Mphasis Mla"

In [86]:
str

'Mphasis Mla'

In [87]:
len(str)

11

In [88]:
# ii.To reverse words in astring

str.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [92]:
words = str.split()
reversed_str = " ".join(reversed(words))
print("reverse wordsin the string:", reversed_str)

reverse wordsin the string: Mla Mphasis

In [93]:

# iii.To display the same string multipletimes

str * 2

'Mphasis MlaMphasis Mla'

In [94]:
# iv.To concatenate twostrings

str1 = "mphasis"
str2 = "company"

In [95]:
str1

'mphasis'

In [96]:
str1 + str2

'mphasiscompany'

In [97]:
# v.Str1=” South India”, using string slicing to display“India”

str3 = "south india"

In [98]:
str3

'south india'

In [99]:
str3[6:]

'india'

# 6.Perform the following:
i) Creating theDictionary.
ii)Accessing values and keys in theDictionary.
iii)Updating the dictionary using afunction.
iv)Clear and delete the dictionaryvalues.

In [100]:
# i) Creating theDictionary.

person ={'m_name': 'alexandra', 'f_name':'dadderio' , 'age':30, 'city':'USA'}

In [101]:
person

{'m_name': 'alexandra', 'f_name': 'dadderio', 'age': 30, 'city': 'USA'}

In [102]:
# ii)Accessing values and keys in theDictionary.

person['m_name']

'alexandra'

In [103]:
person.values()

dict_values(['alexandra', 'dadderio', 30, 'USA'])

In [104]:
person.keys()

dict_keys(['m_name', 'f_name', 'age', 'city'])

In [105]:
# iii)Updating the dictionary using afunction.

person.update({'age': 25})

In [106]:
person

{'m_name': 'alexandra', 'f_name': 'dadderio', 'age': 25, 'city': 'USA'}

In [107]:
person.clear()

In [108]:
person

{}

In [109]:
del person('m_name')

SyntaxError: cannot delete function call (58178199.py, line 1)

In [111]:
person

{}

# 7.Python program to insert a number to any position in a list.

In [112]:
list = [246,143,926,834,589]

In [113]:
list

[246, 143, 926, 834, 589]

In [114]:
list.insert(222)
list[3]
list

TypeError: insert expected 2 arguments, got 1

In [115]:
list.insert([2], 222)
list

TypeError: 'list' object cannot be interpreted as an integer

In [116]:
number_to_insert=222
position =2
list.insert(position, number_to_insert)
print(list)

[246, 143, 222, 926, 834, 589]

# 8.Python program to delete an element from a list by index

In [117]:
list = [222,333,444,555]
list

[222, 333, 444, 555]

In [126]:
del list[1]
list

[222, 555]

In [123]:
list pop([2])
list

SyntaxError: invalid syntax (1938972313.py, line 1)

In [121]:
del list[2]
list

[222, 333, 555]

# 9.Write a program to display a number from 1 to 100.

In [129]:
for i in range (1,101):
 print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a Python program to find the sum of all items in a tuple

In [130]:
tuple = (111,222,333,444)
sum(tuple)

1110

# control strcuters:
    
1.Write a python program to find the first N Prime numbers.

In [143]:
def print_primes(n):
    for num in range(2,n+1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else :
                print(num)

In [144]:
def print_primes(n):
    for num in range(2,n+1):
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else :
                print(num)

In [ ]:
  #3.Write a python program to search for a string in the given list.

In [145]:
def search_string_in_list(my_list, search_string):
    for item in my_list:
        if item == search_string:
            return f" '{search_string}' found in the list."
        return f" '{search_string}' not found in the list."
    my_list = ["apple", "banana", "cherry"]
    search_string = "cherry"
    result = search_string_in_list(my_list, search_string)
    print(result)

In [ ]:
list=[1,2,3]

In [142]:
print(list)

[222, 555]

In [ ]:
# 6.Write a python Program to print the table of any number

In [146]:
list1=[12,24,33333]

In [147]:
list1

[12, 24, 33333]

In [149]:
num= int(input("enter the number:"))
print("multiplicaion table of", num)
for i in range(1,11):
    print(num, "x", i, "=", num * i)

enter the number:25
multiplicaion table of 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

In [ ]:
# 9.Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [153]:
celsius = float(input("Enter temperature in celusis:"))
fahrenheit = (celsius *9/5) + 32
fahrenheit= round(fahrenheit,2)
print(celsius, 'Celsius is:', fahrenheit, 'Fahrenheit')

Enter temperature in celusis:37
37.0 Celsius is: 98.6 Fahrenheit

In [ ]:
# 10.Write  a  python  program  to  find  a  maximum  and  minimum  number  in  a  list  without  using  an inbulit function.

In [154]:
numbers = [10,25,82,96]
largest = max(numbers)
smallest = min(numbers)
print("largest number:", largest)
print("smallest number:", smallest)

largest number: 96
smallest number: 10

In [ ]:
# 12.Write a program in python to print out the number of seconds in a year.

In [155]:
import time
seconds = time.time()
years = seconds / 60/60/24/365.25
print(years)

53.69391534896999